<section class="body-font min-h-screen flex flex-col">
    <div class="container px-5 py-24 mx-auto">
        <div class="container-8">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0 sect-hd">
                <h1 class="PARKEASE">ParkEase - Vehicle Registration and Parking Reservation System</h1>
            </div>
            <p class=" w-full leading-relaxed text-gray-400 text-opacity-100">Simplify your parking experience with
                our user-friendly reservation platform. Book your spot in advance and enjoy the ease of stress-free
                parking every time you visit. No more circling the lot or worrying about finding a space – our
                intuitive system ensures that your parking needs are met with efficiency and ease.</p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/91/e0/72/91e0729cb5c4f0712e1fb8867f12f326.jpg"
                        alt="content">
                    <h2 class="heading-1">Parking Management</h2>
                    <p class="leading-relaxed text-base">
                        Introducing our user-friendly parking management system, designed to simplify the parking experience for both businesses and customers.</p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/25/90/c9/2590c9c0166fe68c3fc0a44d735c2ded.jpg"
                        alt="content">
                    <h2 class="heading-2">Location Management</h2>
                    <p class="leading-relaxed text-base">
                        Our streamlined location management system, crafted to help you in finding the perfect Booking location for businesses and customers.</p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/df/af/bf/dfafbf146f28a33689fa3a0f42ef94f7.jpg"
                        alt="content">
                    <h2 class="heading-4">Booking Management</h2>
                    <p class="leading-relaxed text-base">
                        Our streamlined Booking management system, crafted to help you in Booking the perfect Parking spot for businesses and customers.</p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/25/2b/b9/252bb939029514c71793d1e3054bd0fd.jpg"
                        alt="content">
                    <h2 class="text-red-500">Vehicle Management</h2>
                    <p class="leading-relaxed text-base">Our vehicle management system, that helps to manage the placement of vehicles, right from the entry into the premises to the exit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="#"
            class="inline-block px-6 py-2 bg-red-500 text-white rounded-md shadow-md hover:bg-red-600 transition duration-300"
            [routerLink]="['/parking']" routerLinkActive="active">Book Now</a>
    </div>
    <div class="h-11"></div>

    <footer class="footer">
        <div class="container mx-auto py-8">
            <div class="copyright">© 2024 ParkEase - All rights reserved</div>
        </div>
    </footer>
</section>
<link rel="stylesheet" href="home.component.css">
